/* 
--accent-color:;#757575;
--title-color:#2a2a2a;
--hover-color:#2196f3;
--contacts-footer-color: rgb(255, 255, 255, 0.6);

*/
:root {
  --accent-color: #757575;
  --title-color: #2a2a2a;
  --hover-color: #2196f3;
  --contacts-footer-color: rgb(255, 255, 255, 0.6);
  --company-link-color: #0f0096;
  --company-hover-color: #c04903;
}
/* tag configuration */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}
img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  background-color: rgba(230, 243, 243, 0.4);
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.not-pading {
  padding-top: 0;
  padding-bottom: 0;
}
/* header section */
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid teal;
}
/* site-nav section */
.site-nav {
  display: flex;
}
.site-nav .link {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--title-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--hover-color);
}
.nav-item:not(:last-child) {
  margin-right: 30px;
}
.link.current {
  color: var(--hover-color);
}
.link.current::after {
  position: absolute;
  display: flex;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 10px;
}
/* contacts link */
.contacts {
  display: flex;
}
.contacts .link {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.contacts .link:hover,
.contacts .link:focus {
  color: var(--hover-color);
}

.contacts-item:not(:last-child) {
  margin-right: 15px;
}
.phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}
.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}
/* main section */

/* hero section */
.hero .container {
  display: flex;
  align-items: center;
}
.hero .title {
  font-weight: 900;
  font-size: 35px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.hero-thumb {
  margin-right: 30px;
}

/*work experiens section */
.work-name {
  margin-bottom: 15px;
}
.work-experien-item {
  display: flex;
}
.work-experien-item {
  display: flex;
}
.work-experien-item:not(:last-child) {
  margin-bottom: 35px;
}

.experiens-list > li {
  list-style-type: none;
}
.experiens-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.experiens .title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: var(--title-color);
}
.experiens .subtitle {
  text-align: center;
  min-width: 260px;
  padding-right: 45px;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.5;
  color: var(--title-color);
}
/* experiens link */
.experiens a {
  text-decoration: underline;
}
.experiens .link {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
  color: var(--company-link-color);
}
.experiens .link:hover,
.experiens .link:focus {
  color: var(--company-hover-color);
}
.subtitle-list > li {
  list-style-type: disc;
  color: var(--title-color);
}
.subtitle-list .text {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: var(--accent-color);
}
.text .indicator {
  font-weight: 700;
}
/* footer section */
.footer .title {
  color: var(--title-color);
}
/*footer contacts link */
.footer {
  background-color: orange;
}
.footer .link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.footer .link:hover,
.footer .link:focus {
  color: var(--hover-color);
}
.footer li {
  list-style-type: none;
}
.socials {
  color: var(--title-color);
}
.socials:hover,
.socials:focus {
  color: #ffffff;
}
